<div class="row">
    <h2>{{vm.title}}</h2>
    <div *ngFor="#job of vm.jobs" class="col col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{job.title}}
            </div>
            <div class="panel-body">        
                <p class="h5">
                    {{job.company}}
                    <span class="small pull-right">
                        <span *ngIf="!job.toDate">{{vm.since}}</span>
                        {{job.fromDate | date:'yyyy'}}<span *ngIf="job.toDate">-{{job.toDate | date:'yyyy'}}
                        </span>
                    </span>                    
                </p>
                <p>{{job.description}}</p>
            </div>            
        </div>
    </div>              
</div>